<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=PT+Sans&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
<div th:insert="~{header :: user}"></div>

<div class="container" style="padding-bottom:3em;width:50%">
    <h1>Editors</h1>
    <a th:href="@{'/admin/editors/create'}">Create editor</a>
    <th:block th:each="user : ${users}">
        <div class="row">
            <div class="col-md-4">
                <h5>Editor id: <span th:text="${user.id}"></span></h5>
            </div>
            <div class="col-md-4">
                <h5>Username: <span th:text="${user.username}"></span></h5>
            </div>
            <div class="col-md-4">
                <a th:href="@{'/admin/editors/update/' + ${user.id}}">Update editor</a>
                <form id="login-form" class="form pull-right" method="POST" th:action="@{'/admin/editors/delete/' + ${user.id}}">
                    <button type="submit">Remove editor</button>
                </form>
            </div>
        </div>
    </th:block>
</div>

<div th:insert="~{footer :: user}"></div>
</body>
</html>