<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=PT+Sans&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
<div th:insert="~{header :: user}"></div>

<div class="container" style="padding-bottom:3em">
    <h1>Book create</h1>
    <form th:action="@{'/admin/books/create'}" th:object="${book}" method="post">

        <div class="row">
            <div class="form-group">
                <h3>Title</h3>
                <input required type="text" class="form-control" id="inputTitle" th:value="${book.name}" th:field="*{name}">
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <h3>Author</h3>
                <input required type="text" class="form-control" id="inputAuthor" th:value="${book.author}" th:field="*{author}">
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <h3>Year</h3>
                <input required type="text" class="form-control" id="inputYear" th:value="${book.year}" th:field="*{year}">
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <h3>Edition</h3>
                <input required type="text" class="form-control" id="inputEdition" th:value="${book.edition}" th:field="*{edition}">
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <h3>Description</h3>
                <input required type="text" class="form-control" id="inputDescription" th:value="${book.description}" th:field="*{description}">
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <h3>Genre</h3>
                <select>
                    <option th:each="genre : ${T(com.kstuca.shumovych.master.library.enums.GenreEnum).values()}"
                            th:value="${genre}"
                            th:text="${genre}"
                            th:field="*{genre}">
                    </option>
                </select>
            </div>
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>

<div th:insert="~{footer :: user}"></div>
</body>
</html>