<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=PT+Sans&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
<div th:insert="~{header :: user}"></div>

<div class="container" style="padding-bottom:3em">
    <h1>User update</h1>
    <form th:action="@{'/admin/users/update/' + ${user.id}}" th:object="${user}" method="post">

        <div class="row">
            <div class="form-group">
                <h3>Name</h3>
                <input required type="text" class="form-control" id="inputName" th:value="${user.name}" th:field="*{name}">
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <h3>Last Name</h3>
                <input required type="text" class="form-control" id="inputLastName" th:value="${user.surname}" th:field="*{surname}">
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <h3>Email address</h3>
                <input required type="email" class="form-control" id="exampleInputEmail1" th:value="${user.email}" th:field="*{email}">
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <h3>Address</h3>
                <input required type="text" class="form-control" id="exampleInputAddress1" th:value="${user.address}" th:field="*{address}">
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <h3>Phone</h3>
                <input required type="text" class="form-control" id="exampleInputPhone1" th:value="${user.phone}" th:field="*{phone}">
            </div>
        </div>

        <div class="row">
            <h3>Choose favourite user genres:</h3>
            <th:block th:each="genre, iter : ${genres}">
                <div class="form-check">
                    <label style="color:black" th:text="${genre.genre.type}"></label>
                    <input type="checkbox" name="favouriteGenres" th:value="${genre.genre}" th:field="*{favouriteGenres}">
                </div>
            </th:block>
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>

<div th:insert="~{footer :: user}"></div>
</body>
</html>