<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All books</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=PT+Sans&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="scss/carousel.css">
    <link rel="stylesheet" href="css/allBooks.css">
</head>
<body>
<div th:insert="~{header :: user}"></div>
<div class="container">
    <form action="/books">
        <div class="row">
            <div class="genres-container col-6 col-sm-3">
                <h1>Genres</h1>
                <th:block th:each="genre : ${genres}">
                    <div class="form-check">

                        <th:block th:if="${genresActive != null && !#strings.isEmpty(genresActive)}">
                            <th:block th:if="${#lists.contains(genresActive, genre.genre.type) == true}">
                                <input type="checkbox" th:name="genres" th:value="${genre.genre.type}"
                                       id="${genre.genre.type}" checked>
                            </th:block>
                            <th:block th:unless="${#lists.contains(genresActive, genre.genre.type) == true}">
                                <input type="checkbox" th:name="genres" th:value="${genre.genre.type}"
                                       id="${genre.genre.type}">
                            </th:block>
                        </th:block>


                        <th:block th:unless="${genresActive != null && !#strings.isEmpty(genresActive)}">
                            <input type="checkbox" th:name="genres" th:value="${genre.genre.type}"
                                   id="${genre.genre.type}">
                        </th:block>

                        <label class="white" th:text="${genre.genre.type}" for="${genre.genre.type}"></label>
                        <label class="pull-right white" th:text="${genre.count}"></label>
                    </div>
                </th:block>


                <h1>Year</h1>
                <h3>From</h3>
                <input type="number" name="from" th:value="${fromActive == null} ? '1900' : ${fromActive}" min="1900" max="2019" id="year-from">
                <h3>To</h3>
                <input type="number" name="to" th:value="${toActive == null} ? '1901' : ${toActive}" min="1901" max="2020" id="year-to">


                <h1>Sort By</h1>
                <div>
                    <input type="radio" name="sort" value="year" id="sort-year" th:checked="${sortActive != null && sortActive == 'year'}"/>
                    <label class="white" for="sort-year">Year</label>
                </div>
                <div>
                    <input type="radio" name="sort" value="author" id="sort-author" th:checked="${sortActive != null && sortActive == 'author'}"/>
                    <label class="white" for="sort-author">Author</label>
                </div>
                <div>
                    <input type="radio" name="sort" value="edition" id="sort-edition" th:checked="${sortActive != null && sortActive == 'edition'}"/>
                    <label class="white" for="sort-edition">Edition</label>
                </div>
                <div>
                    <input type="radio" name="sort" value="name" id="sort-name" th:checked="${sortActive != null && sortActive == 'name'}"/>
                    <label class="white" for="sort-name">Book name</label>
                </div>


                <div style="padding-top:1em">
                    <button type="submit" class="button green filters-button">Apply filters</button>
                </div>
                <div style="padding-top:1em">
                    <a class="button button orange filters-button" href="/books">Reset filters</a>
                </div>
            </div>


            <div style="padding-left:3em" class="col-6 col-sm-9">
                <h1>Library book list</h1>
                <div class="book-element">
                    <th:block th:each="book : ${books}">
                        <div style="padding-top:2em;padding-bottom:2em" class="row">
                            <a th:href="@{'/books/' + ${book.id}}">
                                <th:block th:if="${book.listerImage == null}">
                                    <img style="float:left;margin-right:2em;" src="/images/notfoundlister.png"/>
                                </th:block>
                                <th:block th:if="${book.listerImage != null}">
                                    <img style="float:left;margin-right:2em;" th:src="@{'/images/' + ${book.listerImage}}"/>
                                </th:block>
                            </a>
                            <a th:href="@{'/books/' + ${book.id}}">
                                <h2 th:text="${book.name}"></h2>
                            </a>
                            <h3 th:text="${book.author}"></h3>
                            <h3 th:text="${book.year}"></h3>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>

        <div th:if="${books != null && !#lists.isEmpty(books)}">

        <div style="text-align: center" class="container">
            <div class="pagination">
                <th:block th:each="i: ${#numbers.sequence(1, totalPages)}">
                    <a th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                       th:href="${urlBuilder.replaceQueryParam('page', i).toUriString()}"
                       th:if="${activePage == i}" class="active"
                       th:text="${i}"></a>

                    <a th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                       th:href="${urlBuilder.replaceQueryParam('page', i).toUriString()}"
                       th:unless="${activePage == i}"
                       th:text="${i}"></a>
                </th:block>
            </div>
        </div>
        </div>
        <div th:unless="${books != null && !#lists.isEmpty(books)}">
            <h2>There are no such books in library</h2>
        </div>
    </form>
</div>
</div>
<div th:insert="~{footer :: user}"></div>
</body>
</html>