<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=PT+Sans&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="scss/carousel.css">
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/footer.css">
</head>
<body>
<div th:insert="~{header :: user}"></div>
<h1 style="padding-left: 5em">Newest</h1>
<div class="wrapper">
    <section id="section1">
        <a href="#section3" class="arrow__btn">‹</a>
        <div class="item">
            <img src="images/book-lister.png"/>
            <div>
                <h3>Roadside picnic</h3>
                <h4>Arkady and Boris Strugatsky</h4>
            </div>
        </div>
        <div class="item">
            <img src="images/book-lister.png"/>
            <div>
                <h3>Roadside picnic</h3>
                <h4>Arkady and Boris Strugatsky</h4>
            </div>
        </div>
        <div class="item">
            <img src="images/book-lister.png"/>
            <div>
                <h3>Roadside picnic</h3>
                <h4>Arkady and Boris Strugatsky</h4>
            </div>
        </div>
        <div class="item">
            <img src="images/book-lister.png"/>
            <div>
                <h3>Roadside picnic</h3>
                <h4>Arkady and Boris Strugatsky</h4>
            </div>
        </div>
        <div class="item">
            <img src="images/book-lister.png"/>
            <div>
                <h3>Roadside picnic</h3>
                <h4>Arkady and Boris Strugatsky</h4>
            </div>
        </div>
        <a href="#section2" class="arrow__btn">›</a>
    </section>
    <section id="section2">
        <a href="#section1" class="arrow__btn">‹</a>
        <div class="item">
            <img src="images/book-lister.png"/>
            <div>
                <h3>Roadside picnic</h3>
                <h4>Arkady and Boris Strugatsky</h4>
            </div>
        </div>
        <div class="item">
            <img src="images/book-lister.png"/>
            <div>
                <h3>Roadside picnic</h3>
                <h4>Arkady and Boris Strugatsky</h4>
            </div>
        </div>
        <div class="item">
            <img src="images/book-lister.png"/>
            <div>
                <h3>Roadside picnic</h3>
                <h4>Arkady and Boris Strugatsky</h4>
            </div>
        </div>
        <div class="item">
            <img src="images/book-lister.png"/>
            <div>
                <h3>Roadside picnic</h3>
                <h4>Arkady and Boris Strugatsky</h4>
            </div>
        </div>
        <div class="item">
            <img src="images/book-lister.png"/>
            <div>
                <h3>Roadside picnic</h3>
                <h4>Arkady and Boris Strugatsky</h4>
            </div>
        </div>
        <a href="#section3" class="arrow__btn">›</a>
    </section>
    <section id="section3">
        <a href="#section2" class="arrow__btn">‹</a>
        <div class="item">
            <img src="images/book-lister.png"/>
            <div>
                <h3>Roadside picnic</h3>
                <h4>Arkady and Boris Strugatsky</h4>
            </div>
        </div>
        <div class="item">
            <img src="images/book-lister.png"/>
            <div>
                <h3>Roadside picnic</h3>
                <h4>Arkady and Boris Strugatsky</h4>
            </div>
        </div>
        <div class="item">
            <img src="images/book-lister.png"/>
            <div>
                <h3>Roadside picnic</h3>
                <h4>Arkady and Boris Strugatsky</h4>
            </div>
        </div>
        <div class="item">
            <img src="images/book-lister.png"/>
            <div>
                <h3>Roadside picnic</h3>
                <h4>Arkady and Boris Strugatsky</h4>
            </div>
        </div>
        <div class="item">
            <img src="images/book-lister.png"/>
            <div>
                <h3>Roadside picnic</h3>
                <h4>Arkady and Boris Strugatsky</h4>
            </div>
        </div>
        <a href="#section1" class="arrow__btn">›</a>
    </section>
</div>

<h1 style="padding-left: 5em">Popular</h1>
<div class="wrapper">
    <section id="section1">
        <a href="#section3" class="arrow__btn">‹</a>
        <div class="item">
            <img src="images/book-lister.png"/>
        </div>
        <div class="item">
            <img src="images/book-lister.png"/>
            <div><h3>Text</h3></div>
        </div>
        <div class="item">
            <img src="images/book-lister.png"/>
        </div>
        <div class="item">
            <img src="images/book-lister.png"/>
        </div>
        <div class="item">
            <img src="images/book-lister.png"/>
        </div>
        <a href="#section2" class="arrow__btn">›</a>
    </section>
    <section id="section2">
        <a href="#section1" class="arrow__btn">‹</a>
        <div class="item">
            <img src="images/book-lister.png"/>
        </div>
        <div class="item">
            <img src="images/book-lister.png"/>
            <div><h3>Text</h3></div>
        </div>
        <div class="item">
            <img src="images/book-lister.png"/>
        </div>
        <div class="item">
            <img src="images/book-lister.png"/>
        </div>
        <div class="item">
            <img src="images/book-lister.png"/>
        </div>
        <a href="#section3" class="arrow__btn">›</a>
    </section>
    <section id="section3">
        <a href="#section2" class="arrow__btn">‹</a>
        <div class="item">
            <img src="images/book-lister.png"/>
        </div>
        <div class="item">
            <img src="images/book-lister.png"/>
            <div><h3>Text</h3></div>
        </div>
        <div class="item">
            <img src="images/book-lister.png"/>
        </div>
        <div class="item">
            <img src="images/book-lister.png"/>
        </div>
        <div class="item">
            <img src="images/book-lister.png"/>
        </div>
        <a href="#section1" class="arrow__btn">›</a>
    </section>
</div>

<h1 style="padding-left: 5em">Maybe you would like</h1>
<div class="wrapper">
    <section id="section1">
        <a href="#section3" class="arrow__btn">‹</a>
        <div class="item">
            <img src="images/book-lister.png"/>
        </div>
        <div class="item">
            <img src="images/book-lister.png"/>
            <div><h3>Text</h3></div>
        </div>
        <div class="item">
            <img src="images/book-lister.png"/>
        </div>
        <div class="item">
            <img src="images/book-lister.png"/>
        </div>
        <div class="item">
            <img src="images/book-lister.png"/>
        </div>
        <a href="#section2" class="arrow__btn">›</a>
    </section>
    <section id="section2">
        <a href="#section1" class="arrow__btn">‹</a>
        <div class="item">
            <img src="images/book-lister.png"/>
        </div>
        <div class="item">
            <img src="images/book-lister.png"/>
            <div><h3>Text</h3></div>
        </div>
        <div class="item">
            <img src="images/book-lister.png"/>
        </div>
        <div class="item">
            <img src="images/book-lister.png"/>
        </div>
        <div class="item">
            <img src="images/book-lister.png"/>
        </div>
        <a href="#section3" class="arrow__btn">›</a>
    </section>
    <section id="section3">
        <a href="#section2" class="arrow__btn">‹</a>
        <div class="item">
            <img src="images/book-lister.png"/>
        </div>
        <div class="item">
            <img src="images/book-lister.png"/>
            <div><h3>Text</h3></div>
        </div>
        <div class="item">
            <img src="images/book-lister.png"/>
        </div>
        <div class="item">
            <img src="images/book-lister.png"/>
        </div>
        <div class="item">
            <img src="images/book-lister.png"/>
        </div>
        <a href="#section1" class="arrow__btn">›</a>
    </section>
</div>
<div th:insert="~{footer :: user}"></div>
</body>
</html>