<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=PT+Sans&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="scss/carousel.css">
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
<div th:insert="~{header :: user}"></div>

<th:block sec:authorize="hasRole('ROLE_USER')">
    <div class="container">
        <h1>Your recommendations. Enjoy</h1>
        <div th:insert="~{index-carousel :: carousel(${recommendations}, 1)}"></div>
        <h1>Newest</h1>
        <div th:insert="~{index-carousel :: carousel(${recommendations}, 2)}"></div>
        <h1>Popular</h1>
        <div th:insert="~{index-carousel :: carousel(${recommendations}, 3)}"></div>
    </div>
</th:block>
<th:block sec:authorize="hasRole('ROLE_ADMIN')">
    <div class="container">
        <h1>
            <span th:text="@{'Successfully logined as ' + ${#authentication.principal.username} + '.'}"></span>
        </h1>
        <h1>Now you can maintain content by options at the top.</h1>
    </div>
</th:block>
<div th:insert="~{footer :: user}"></div>
</body>
</html>