<html xmlns:sec="http://www.springframework.org/security/tags">

<head>

    <meta charset="utf-8">
    <title>Log in with your account</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/general.css">
</head>

<body>
<sec:authorize access="isAuthenticated()"></sec:authorize>
<div class="bg-image"></div>
<div id="login">
    <div class="bg-text container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" method="POST" action="/login">
                        <h2 class="text-center text-info" style="padding-top:1em">Login into library</h2>
                        <div class="form-group">
                            <label for="username" class="text-info">Username:</label><br>
                            <input type="text" name="username" id="username" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Password:</label><br>
                            <input type="text" name="password" id="password" class="form-control">
                        </div>
                        <button class="pull-left" type="submit">Log In</button>
                        <a href="/registration">Register here</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>


</html>