<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=PT+Sans&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="css/general.css">
</head>

<body>
<div class="bg-image"></div>

<div class="container" style="width:40%">

    <h1 style="align=center;padding-top=10em;padding-bottom=3em">Registration form</h1>
    <form class="form-horizontal" role="form" th:action="@{/registration}" th:object="${userForm}"
          method="post">
        <div class="form-group" style="align=center">
            <h3>Your name</h3>
            <input required style="width:100%;align=center" type="text" id="name" th:field="*{name}"/>
        </div>

        <div class="form-group">
            <h3 style="padding-top=1em">Your surname</h3>
            <input required style="width:100%;align=center" type="text" id="surname" th:field="*{surname}"/>
        </div>

        <div class="form-group">
            <h3 style="padding-top=1em">Username</h3>
            <input required style="width:100%;align=center" type="text" id="username" th:field="*{username}"/>
        </div>

        <div class="form-group">
            <h3 style="padding-top=1em">Password</h3>
            <input required style="width:100%;align=center" type="password" id="password"
                   th:field="*{password}"/>
        </div>

        <h3 style="padding-top=1em">Choose your favourite genres:</h3>
        <th:block th:each="genre, iter : ${genres}">
            <input class="pull-right" type="checkbox" name="favouriteGenres" th:value="${genre.genre}"
                   th:field="*{favouriteGenres}">
            <h3 style="text" class=" white" th:text="${genre.genre.type}"></h3>
        </th:block>

        <div style="padding-top=1em" class="form-group">
            <h3 style="padding-top=1em">Address</h3>
            <input required style="width:100%;align=center" type="text" id="address" th:field="*{address}"/>
        </div>

        <div style="padding-top=1em" class="form-group">
            <h3 style="padding-top=1em">Phone</h3>
            <input required style="width:100%;align=center" type="text" id="phone" th:field="*{phone}"/>
        </div>

        <div style="padding-top=1em" class="form-group">
            <h3 style="padding-top=1em">Email</h3>
            <input required style="width:100%;align=center" type="email" id="email" th:field="*{email}"/>
        </div>

        <input style="padding-top=3em" type="submit" value="Submit"/>
        <input style="padding-bottom=3em" type="reset" value="Reset"/>
    </form>

</div>
</body>
</html>